{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div id="journal-banner" class="row-fluid text-center responsive">
        {% image page.banner max-1280x500 %}
    </div>
    <br>

    {% for block in page.body %}
        {% include_block block with id=block.id %}
    {% endfor %}

    <hr>
    <div class="row-fluid col xs-12">
        {% for post in posts %}
            <div class="col-sm-4">
                {% with post=post.specific %}
                    <a href="{% pageurl post %}">
                        <div class="eventwrapsmall hover">
                            {% image post.thumbnail original %}
                            <div class="eventinfo">
                                <div class="eventname">{{ post.title }}</div>
                                <div class="eventdate">{{ post.date|date:"F j, Y" }}</div>
                            </div>
                        </div>
                    </a>
                {% endwith %}
            </div>
        {% empty %}
            <br>
            <br>
            <div class="row-fluid">
                <div class="tan-bg">
                    <h4 class="text-center green">
                        There are currently no published journal posts. Please check back soon!
                    </h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{# Enable automatic banner selection only for the What's Blooming Now Blog #}
{% block extra_js %}
    {% if page.slug == 'whats-blooming-now' %}
        <script type="text/javascript" src="{% static 'js/auto_journal_banner.js' %}"></script>
    {% endif %}
{% endblock %}
