{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block abnormal_content %}
    <div id="journalpostbody" class="container-fluid">
        {% include 'includes/page_banner.html' with banner=page.banner %}
        <div class="row">
            <div class="col-12 col-sm-3">
                {% if post.tags.all.count %}
                    <div class="tags">
                        <h3>Tags</h3>
                        <ul class="nav nav-pills">
                            {% for tag in post.tags.all %}
                                <li class="nav-item">
                                    <a class="px-2"
                                       href="{% routablepageurl journal_index_page "post_by_tag" tag.slug %}">
                                        <span class="badge rounded-pill text-bg-info">{{ tag }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% with categories=post.categories.all %}
                    {% if categories %}
                        <div class="categories my-3">
                            <h3>Categories</h3>
                            <ul class="nav nav-pills">
                                {% for category in categories %}
                                    <li class="nav-item w-100">
                                        <a class="nav-link"
                                           href="{% routablepageurl journal_index_page "post_by_category" category.slug %}">
                                            {{ category.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="row my-3">
                    {% with gallery_items=post.gallery_images.all %}
                        {% if gallery_items %}
                            {% for item in post.gallery_images.all %}
                                <figure>
                                    {% image item.image width-400 class="img-fluid" %}
                                    <figcaption>{{ item.caption }}</figcaption>
                                </figure>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>

            <div class="col-12 col-sm-9 my-3 my-sm-0">
                <h2>{{ post.title }}</h2>
                <h5>Submitted: {{ post.date }}</h5>
                {% if post.authors.all %}
                    <div>
                        <strong>By: </strong>
                        {% for author in post.authors.all %}
                            <strong>{{ author.first_name }} {{ author.last_name }},</strong>
                            <em>{{ author.title }}</em>
                            {% if not forloop.last %}
                                <span> and </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% for block in page.body %}
                    {% include_block block with id=block.id %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
