/.idea/
.DS_Store
/redbuttegarden/.env.dev
/redbuttegarden/.env.local
/redbuttegarden/zappa_settings.json
/ve/
/ve3.8/
/ve3.12/
/redbuttegarden/static/
/redbuttegarden/media/
/redbuttegarden/concerts/fixtures/
/redbuttegarden/custom_user/fixtures/
/redbuttegarden/events/fixtures/
/redbuttegarden/home/fixtures/
/redbuttegarden/journal/fixtures/
/redbuttegarden/redbuttegarden/fixtures/
/redbuttegarden/collections.geojson
/.vscode/
**/.coverage
*.pyc
/nginx/certs/