{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="row-fluid text-center responsive">
        {% image page.banner max-1280x500 %}
    </div>
    <br>

    {% for block in page.body %}
        {% include_block block with id=block.id %}
    {% endfor %}

    <hr>

    <div id="wagtail-children" class="row-fluid col xs-12">
        {% for sub in sub_pages %}
            <div class="col-sm-4">
                {% with sub=sub.specific %}
                    <a href="{% pageurl sub %}">
                        <div class="eventwrapsmall hover">
                            {% image sub.thumbnail fill-385x385 %}
                            <div class="eventinfo">
                                <div class="eventname">{{ sub.title }}</div>
                            </div>
                        </div>
                    </a>
                {% endwith %}
            </div>
        {% empty %}
            <br>
            <br>
            <div class="row-fluid">
                <div class="tan-bg">
                    <h4 class="text-center green">
                        Please check back later when we've added more specific information!
                    </h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/non_wagtail_child.js' %}"></script>
{% endblock %}
