{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    {# Hacky way of limiting FA kit loads #}
    {% if page.slug == 'concert-club-portal' %}
        <script src="https://kit.fontawesome.com/332beda55d.js" crossorigin="anonymous"></script>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'includes/banner_image.html' %}

    {% for block in page.body %}
        {% if block.block_type == 'image' %}
            {% image block.value original class="img-center img-fluid" %}
        {% else %}
            {% include_block block with id=block.id %}
        {% endif %}
    {% endfor %}
{% endblock %}
