{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="row-fluid">
        {% image page.banner original class="responsive" %}
    </div>
    <br>

    {% for block in page.body %}
        {% if block.block_type == 'tan_bg_text' %}
            <div class="tan-bg">
                {% include_block block %}
            </div>
        {% else %}
            {% include_block block with id=block.id %}
        {% endif %}
    {% endfor %}
{% endblock %}
