{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    {% include 'includes/banner_image.html' %}

    {% include_block page.intro|richtext %}

    <div class="accordion" id="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Click Here for More Info on our Types of Plant Collections
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <div class="accordion-body">
                    {% include_block page.more_info_modal|richtext %}
                </div>
            </div>
        </div>
    </div>

    {% with collections=page.plant_collections.all %}
        {% if collections %}
            {% for collection in collections %}
                <div class="row">
                    <div class="col-md-6">
                        <a class="hover" href="{{ collection.slideshow_link }}" target="_blank">
                            <div class="collectionswrap">
                                {% image collection.image width-385 %}
                                <div class="eventinfo">
                                    <div class="eventname">{{ collection.title }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="collectionswrap green">
                            <h4 class="text-center">{{ collection.title }}</h4>
                            {% include_block collection.text|richtext %}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a class="hover" href="{{ collection.slideshow_link }}" target="_blank">
                                    <button class="apply-button">View Our Slideshow</button>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="hover" href="{{ collection.collection_doc.file.url }}">
                                    <button class="apply-button">More Information</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
