{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  {% include 'includes/page_banner.html' with banner=page.banner %}

  {% for block in page.body %}
    {% include_block block with id=block.id %}
  {% endfor %}

  <section class="py-4" aria-labelledby="retail-partners-heading">
    <div class="container">
      <h2 id="retail-partners-heading" class="text-center pb-4">Retail Partners</h2>

      {% for row in partner_rows %}
        <div class="row g-4 text-center {% cycle 'tan-bg' 'bg-white' %}">
          {% for item in row %}
            <div class="col-12 col-md-6 col-lg-4">
              <div class="h-100 p-3">
                {% if item.is_placeholder %}
                  <p class="green fs-3 fw-bold mb-0">{{ item.message }}</p>
                {% else %}
                  {% include_block item with id=item.id %}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
