{% extends 'base.html' %}

{% block title %}VR Tours of Red Butte Garden{% endblock %}

{% block content %}
    <h1>Red Butte Garden Virtual Reality Tours</h1>
    <ul>
        <li>
            <a href="https://zappa-rbg-dev-static-east.s3.amazonaws.com/media/VR-Tours/Ethnobotany/index.htm">Ethnobotany</a>
        </li>
        <li>
            <a href="https://zappa-rbg-dev-static-east.s3.amazonaws.com/media/VR-Tours/Flowers/index.htm">Flowers</a>
        </li>
        <li>
            <a href="https://zappa-rbg-dev-static-east.s3.amazonaws.com/media/VR-Tours/Greenhouse/index.htm">Greenhouse</a>
        </li>
        <li>
            <a href="https://zappa-rbg-dev-static-east.s3.amazonaws.com/media/VR-Tours/Habitats/index.htm">Habitats</a>
        </li>
        <li>
            <a href="https://zappa-rbg-dev-static-east.s3.amazonaws.com/media/VR-Tours/Matter/index.htm">Matter</a>
        </li>
        <li>
            <a href="https://zappa-rbg-dev-static-east.s3.amazonaws.com/media/VR-Tours/Observation/index.htm">Observation</a>
        </li>
        <li>
            <a href="https://zappa-rbg-dev-static-east.s3.amazonaws.com/media/VR-Tours/Phenology/index.htm">Phenology</a>
        </li>
        <li>
            <a href="https://zappa-rbg-dev-static-east.s3.amazonaws.com/media/VR-Tours/WCG/index.htm">Water Conservation Garden</a>
        </li>
    </ul>
{% endblock %}
