figcaption {
    text-align: center;
    font-style: italic;
}

hr {
    width: 95%;
}

#image-list-card-info.lowpadding {
    margin-bottom: 10px;
}

#journalpostbody {
    margin: 0 auto 0 auto;
    padding: 65px 15px 15px 15px;
}

#journalpostbody img {
    display: block;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.tags div {
    display: inline-block;
    margin-bottom: 3px;
}

/* Used for categories in journal_page.html */
.tags ul li {
    border: 1px solid rgba(25,97,67,.7);
    border-radius: 10px;
}

#journalpostbody img.richtext-image.left {
    float: left;
}

#journalpostbody img.richtext-image.right {
    float: right;
}

#journalpostbody .col-sm-3 {
    border-right: 1px solid rgba(25,97,67,.7);
}

#sponsor-list, #table-info-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sponsor-list .info-table-card {
    min-height: 200px;
    margin: 5px 50px;
}

.sponinfo table caption {
    color: #A26BA2;
    font-weight: bold;
    font-size: 14px;
}

#table-info-card-list thead th {
    background-color: #196143;
    color: white;
    text-align: center;
    border: 1px solid black;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}