{% load static %}
<link rel="icon" type="image/png" href="{% static 'redbuttegarden/img/favicon/rbg-favicon-leaf-16x16.png' %}" sizes="16x16">
<link rel="icon" type="image/png" href="{% static 'redbuttegarden/img/favicon/rbg-favicon-leaf-32x32.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static 'redbuttegarden/img/favicon/rbg-favicon-leaf-96x96.png' %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static 'redbuttegarden/img/favicon/rbg-favicon-leaf-196x196.png' %}" sizes="196x196">

<link rel="apple-touch-icon" href="{% static 'redbuttegarden/img/favicon/touch-icon-iphone.png' %}">
<link rel="apple-touch-icon" href="{% static 'redbuttegarden/img/favicon/touch-icon-ipad.png' %}" sizes="152x152">
<link rel="apple-touch-icon" href="{% static 'redbuttegarden/img/favicon/touch-icon-iphone-retina.png' %}" sizes="180x180">
<link rel="apple-touch-icon" href="{% static 'redbuttegarden/img/favicon/touch-icon-ipad-retina.png' %}" sizes="167x167">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="translucent black">
