{% load static wagtailcore_tags %}

<footer class="text-center">
    <div id="prefooter" class="container-fluid">
        <div class="row p-3">
            <div class="col-sm-4">
                <a href="{% slugurl 'memberships' %}">
                    <figure>
                        <picture>
                            <source srcset="{% static 'redbuttegarden/img/footer/become_a_member_icon.webp' %}"
                                    type="image/webp">
                            <source srcset="{% static 'redbuttegarden/img/footer/become_a_member_icon.png' %}"
                                    type="image/png">
                            <img src="{% static 'redbuttegarden/img/footer/become_a_member_icon.png' %}"
                                 alt="ID card icon">
                        </picture>
                        <figcaption>BECOME A MEMBER</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="{% include 'includes/give-link.html' %}">
                    <div class="hover">
                        <figure>
                            <picture>
                                <source srcset="{% static 'redbuttegarden/img/footer/donate_to_the_garden_icon.webp' %}"
                                        type="image/webp">
                                <source srcset="{% static 'redbuttegarden/img/footer/donate_to_the_garden_icon.png' %}"
                                        type="image/png">
                                <img src="{% static 'redbuttegarden/img/footer/donate_to_the_garden_icon.png' %}"
                                     alt="Dollar symbol icon">
                            </picture>
                            <figcaption>DONATE TO THE GARDEN</figcaption>
                        </figure>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="{% slugurl 'volunteer-at-red-butte-garden' %}">
                    <div class="hover">
                        <figure>
                            <picture>
                                <source srcset="{% static 'redbuttegarden/img/footer/volunteer_with_us_icon.webp' %}"
                                        type="image/webp">
                                <source srcset="{% static 'redbuttegarden/img/footer/volunteer_with_us_icon.png' %}"
                                        type="image/png">
                                <img src="{% static 'redbuttegarden/img/footer/volunteer_with_us_icon.png' %}"
                                     alt="Shovel icon">
                            </picture>
                            <figcaption>VOLUNTEER WITH US</figcaption>
                        </figure>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="rbgfooter" class="container-fluid bg-body-secondary">
        <div id="social-media-wrapper" class="p-3">
            <ul>
                <li>
                    <a href="https://www.yelp.com/biz/red-butte-garden-and-arboretum-salt-lake-city"
                       aria-label="Red Butte Garden's Yelp page">
                        <div class="yelp"></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.tripadvisor.com/Attraction_Review-g60922-d269627-Reviews-Red_Butte_Garden-Salt_Lake_City_Utah.html"
                       aria-label="Red Butte Garden's Trip Advisor page">
                        <div class="tripadvisor"></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/redbutte" aria-label="Red Butte Garden's Facebook page">
                        <div class="facebook"></div>
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/redbuttegarden/" aria-label="Red Butte Garden's Instragram page">
                        <div class="instagram"></div>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/redbuttegarden" aria-label="Red Butte Garden's Twitter page">
                        <div class="twitter"></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/RedButteGarden"
                       aria-label="Red Butte Garden's YouTube page">
                        <div class="youtube"></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.pinterest.com/redbuttegarden/"
                       aria-label="Red Butte Garden's Pinterest page">
                        <div class="pinterest"></div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="rbgfooterlinks">
            <ul>
                <li>
                    <a href="{% slugurl 'contact-us' %}">CONTACT US</a>
                </li>
                <li>
                    <a href="{% slugurl 'advisory-board' %}">BOARD</a>
                </li>
                <li>
                    <a href="{% slugurl 'local-retail-partners' %}">LOCAL RETAIL PARTNERS</a>
                </li>
                <li>
                    <a href="{% slugurl 'public-relations' %}">PUBLIC RELATIONS</a>
                </li>
                <li>
                    <a href="{% slugurl 'general-info' %}">INFO &amp; POLICIES</a>
                </li>
                <li>
                    <a href="{% slugurl 'employment' %}">EMPLOYMENT</a>
                </li>
                <li>
                    <a href="https://utah.sjc1.qualtrics.com/jfe/form/SV_9mNKWsQp2J0w3jg" target="_blank">
                        DONATION REQUEST
                    </a>
                </li>
                <li>
                    <a href="https://utah.sjc1.qualtrics.com/jfe/form/SV_6wWxL66XJTEh55A" target="_blank">
                        UPDATE YOUR INFO
                    </a>
                </li>
                <li>
                    <a href="https://55218.blackbaudhosting.com/55218/page.aspx?pid=201" target="_blank">
                        SIGN UP FOR OUR EVENT EBLASTS
                    </a>
                </li>
            </ul>
        </div>

        <div class="row p-3 gy-3">
            <div id="uofu" class="col-md-4">
                <a href="https://www.utah.edu">
                    <picture>
                        <source srcset="{% static 'redbuttegarden/img/footer/footer-uofu-logo.webp' %}"
                                type="image/webp">
                        <img alt="University of Utah logo"
                             src="{% static 'redbuttegarden/img/footer/footer-uofu-logo.png' %}"
                             class="iimg-center" width="298em" height="74em"/>
                    </picture>
                </a>
            </div>
            <div id="footerlogo" class="col-md-4">
                <a href="https://www.redbuttegarden.org">
                    <picture>
                        <source srcset="{% static 'redbuttegarden/img/footer/rbg-footer-logo-new-stack.webp' %}"
                                type="image/webp">
                        <img alt="Red Butte Garden logo"
                             src="{% static 'redbuttegarden/img/footer/rbg-footer-logo-new-stack.png' %}"
                             class="img-center" width="241em" height="104em"/>
                    </picture>
                </a>
            </div>
            <div id="zap" class="col-md-4">
                <a href="https://www.zapisyou.org">
                    <picture>
                        <source srcset="{% static 'redbuttegarden/img/footer/footer-zap-logo.webp' %}"
                                type="image/webp">
                        <img alt="Salt Lake County ZAP logo"
                             src="{% static 'redbuttegarden/img/footer/footer-zap-logo.png' %}"
                             class="img-center" width="243em" height="102em"/>
                    </picture>
                </a>
            </div>
        </div>

        <div class="row p-3">
            <div id="contactinfo1" class="col-sm-12"><a href="tel:8015850556">801.585.0556</a> |
                300 WAKARA WAY, SALT LAKE CITY, UT 84108
            </div>
            <div id="contactinfo2" class="col-sm-12">Copyright &copy; {% now "Y" %} Red Butte Garden</div>
        </div>

        <div class="rbgfooterlinks">
            <ul class="mb-0">
                <li><a href="https://www.utah.edu/nondiscrimination/">NONDISCRIMINATION &amp; ACCESSIBILITY</a></li>
                <li><a href="https://www.utah.edu/disclaimer/">DISCLAIMER</a></li>
                <li><a href="https://www.utah.edu/privacy/">PRIVACY</a></li>
                <li><a href="https://www.utah.edu/credits.php">CREDITS &amp; ATTRIBUTIONS</a></li>
            </ul>
        </div>
    </div>
</footer>
