{% load static wagtailcore_tags wagtailroutablepage_tags %}

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
    </symbol>
</svg>

<a class="skip-main" href="#main">Skip to main content</a>
<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
        <a id="logo" class="navbar-brand" href="/">
            <picture>
                <source srcset="{% static 'redbuttegarden/img/rbg-logo-new.webp' %}" type="image/webp">
                <img src="{% static 'redbuttegarden/img/rbg-logo-new.png' %}" class="hover responsive"
                     alt="Red Butte Garden" title="RBG Logo" width="285em" height="50em"/>
            </picture>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar"
                aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        VISIT
                    </a>
                    <ul class="dropdown-menu text-center">
                        <li><a class="dropdown-item"
                               title="Link to info page for visiting the garden while following COVID-19 guidelines"
                               href="{% slugurl 'plan-your-garden-visit' %}">PLAN YOUR VISIT</a></li>
                        <li><a class="dropdown-item"
                               title="Link to general information page with prices, hours, directions, etcetera"
                               href="{% slugurl 'general-info' %}">GENERAL INFO</a></li>
                        <li><a class="dropdown-item"
                               title="Link to page about Red Butte Garden including mission statement and brief history"
                               href="{% slugurl 'about-us' %}">ABOUT US</a></li>
                        <li><a class="dropdown-item" title="Link to page with maps of the garden"
                               href="{% slugurl 'garden-maps' %}">GARDEN
                            MAPS</a></li>
                        <li><a class="dropdown-item" title="Link to page discribing our garden gift shop"
                               href="{% slugurl 'gift-shop' %}">GIFT
                            SHOP</a></li>
                        <li><a class="dropdown-item" title="Link to page listing free admission days and free events"
                               href="{% slugurl 'free-garden-events' %}">FREE DAYS<br/>&amp; EVENTS</a></li>
                        <li><a class="dropdown-item"
                               title="Link to page descriping how to schedule private garden tours"
                               href="{% slugurl 'garden-tours' %}">GARDEN TOURS</a></li>
                        <li><a class="dropdown-item" title="Link to our poetry box map, poetry walk info, and contest"
                               href="{% slugurl 'poetry' %}">POETRY IN <br/>THE GARDEN</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        PLANTS &amp; GARDENS
                    </a>
                    <ul class="dropdown-menu text-center">
                        <li><a class="dropdown-item" title="Link to map displaying plant location in the garden"
                               href="{% url 'plants:plant-map' %}">INTERACTIVE<br/>PLANT MAP</a></li>
                        <li>
                            <a class="dropdown-item"
                               title="Filter our plant collections to be displayed on the plant map based on given search criteria"
                               href="{% url 'plants:collection-search' %}">SEARCH OUR PLANT<br>COLLECTIONS</a></li>
                        <li><a class="dropdown-item" title="Link to page with info about our themed gardens"
                               href="{% slugurl 'themed-gardens' %}">THEMED GARDENS</a></li>
                        <li><a class="dropdown-item"
                               title="Link to slideshows and descriptions of our various plant collections"
                               href="{% slugurl 'plant-collections' %}">PLANT COLLECTIONS<br>INFORMATION</a></li>
                        <li><a class="dropdown-item" title="Tips and tricks for doing your own gardening"
                               href="{% slugurl 'gardening-information' %}">GARDENING INFORMATION</a></li>
                        <li><a class="dropdown-item"
                               title="Desciptions of what's going on in our Conservation Department"
                               href="{% slugurl 'conservation-research' %}">PLANT CONSERVATION<br/>RESEARCH</a></li>
                        <li><a class="dropdown-item" title="A blog for keeping up with blooms at the garden"
                               href="{% slugurl 'whats-blooming-now' %}">WHAT'S BLOOMING<br/> NOW BLOG</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        EVENTS
                    </a>
                    <ul class="dropdown-menu text-center">
                        <li><a class="dropdown-item" title="Event Calendar" href="{% slugurl 'calendar' %}">
                            EVENT CALENDAR
                        </a></li>
                        <li><a class="dropdown-item"
                               title="Link to page listing concert schedules and general information"
                               href="{% slugurl 'concerts' %}">
                            OUTDOOR CONCERT SERIES
                        </a></li>
                        {#  main_event_page set in get_context method of abstract base page #}
                        {% if main_event_page %}
                            <li><a class="dropdown-item"
                                   title="Info for current and upcoming art displays at the garden"
                                   href="{% routablepageurl main_event_page 'event_by_category' 'art-exhibits' %}">
                                ART EXHIBITS
                            </a></li>
                            <li><a class="dropdown-item" title="Links to events going on during the Spring season"
                                   href="{% routablepageurl main_event_page 'event_by_category' 'spring-events' %}">
                                SPRING EVENTS
                            </a></li>
                            <li><a class="dropdown-item" title="Links to events going on during the Summer season"
                                   href="{% routablepageurl main_event_page 'event_by_category' 'summer-events' %}">
                                SUMMER EVENTS
                            </a></li>
                            <li><a class="dropdown-item" title="Links to events going on during the Fall season"
                                   href="{% routablepageurl main_event_page 'event_by_category' 'fall-events' %}">
                                FALL EVENTS
                            </a></li>
                            <li><a class="dropdown-item" title="Links to events going on during the Winter season"
                                   href="{% routablepageurl main_event_page 'event_by_category' 'winter-events' %}">
                                WINTER EVENTS
                            </a></li>
                            {# main_event_page won't be set for non-wagtail pages (e.g. social-media) so we hardcode the URLs #}
                        {% else %}
                            <li><a class="dropdown-item"
                                   title="Info for current and upcoming art displays at the garden"
                                   href="/events/e-cat/art-exhibits/">
                                ART EXHIBITS
                            </a></li>
                            <li><a class="dropdown-item" title="Links to events going on during the Spring season"
                                   href="/events/e-cat/spring-events/">
                                SPRING EVENTS
                            </a></li>
                            <li><a class="dropdown-item" title="Links to events going on during the Summer season"
                                   href="/events/e-cat/summer-events/">
                                SUMMER EVENTS
                            </a></li>
                            <li><a class="dropdown-item" title="Links to events going on during the Fall season"
                                   href="/events/e-cat/fall-events/">
                                FALL EVENTS
                            </a></li>
                            <li><a class="dropdown-item" title="Links to events going on during the Winter season"
                                   href="/events/e-cat/winter-events/">
                                WINTER EVENTS
                            </a></li>
                        {% endif %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        EDUCATION
                    </a>
                    <ul class="dropdown-menu text-center">
                        <li><a class="dropdown-item" title="List of activities to bust that boredom"
                               href="{% slugurl 'boredom-busters' %}">
                            BOREDOM BUSTERS
                        </a></li>
                        <li><a class="dropdown-item" title="Virtual educational resources and activities"
                               href="{% slugurl 'online-classes-virtual-resources' %}">
                            VIRTUAL RESOURCES
                        </a></li>
                        <li><a class="dropdown-item" title="Educational activities for adults"
                               href="{% slugurl 'adult-education' %}">
                            CLASSES &amp; WORKSHOPS<br/>FOR ADULTS
                        </a></li>
                        <li><a class="dropdown-item" title="Classes for kids" href="{% slugurl 'kids-classes' %}">
                            SUMMER CAMP<br/> &amp; CLASSES FOR KIDS
                        </a></li>
                        <li><a class="dropdown-item" title="Lecture Series" href="{% slugurl 'lecture-series' %}">
                            LECTURE SERIES
                        </a></li>
                        <li><a class="dropdown-item" title="Play the Taleblazer mobile application"
                               href="{% slugurl 'taleblazer-mobile-game' %}">
                            PLAY TALEBLAZER
                        </a></li>
                        <li><a class="dropdown-item" title="Info for teachers and students"
                               href="{% slugurl 'teachers-and-students' %}">
                            TEACHERS &amp; STUDENTS
                        </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        GET INVOLVED
                    </a>
                    <ul class="dropdown-menu text-center">
                        <li><a class="dropdown-item" title="Various volunteer opportunities at the garden"
                               href="{% slugurl 'volunteer-at-red-butte-garden' %}">
                            VOLUNTEER
                        </a></li>
                        <li><a class="dropdown-item" title="Link to donate to Red Butte Garden"
                               href="{% include 'includes/give-link.html' %}">
                            GIVE
                        </a></li>
                        <li><a class="dropdown-item" title="Become a Red Butte Garden member today!"
                               href="{% slugurl 'memberships' %}">
                            MEMBERSHIP
                        </a></li>
                        <li><a class="dropdown-item" title="Options for giving in memoriam"
                               href="{% slugurl 'memorials-and-tributes' %}">
                            MEMORIALS &amp;<br/>TRIBUTES
                        </a></li>
                        <li><a class="dropdown-item" title="Legacy giving as a way to donate to the garden"
                               href="{% slugurl 'legacy-giving' %}">
                            LEGACY GIVING
                        </a></li>
                        <li><a class="dropdown-item" title="Become a corporate sponsor"
                               href="{% slugurl 'corporate-sponsors' %}">
                            CORPORATE<br/>SPONSORSHIP
                        </a></li>
                        <li><a class="dropdown-item" title="Join the Red Butte Garden team"
                               href="{% slugurl 'employment' %}">
                            EMPLOYMENT
                        </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        PRIVATE EVENTS
                    </a>
                    <ul class="dropdown-menu text-center">
                        <li><a class="dropdown-item" title="Hold your wedding or reception at the garden"
                               href="{% slugurl 'weddings-receptions' %}">
                            WEDDINGS<br/>&amp; RECEPTIONS
                        </a></li>
                        <li><a class="dropdown-item" title="Event space for corporate events and private parties"
                               href="{% slugurl 'corporate-events-private-parties' %}">
                            CORPORATE EVENTS <br/>&amp; PRIVATE PARTIES
                        </a></li>
                        <li><a class="dropdown-item" title="Descriptions of the various areas available for rental"
                               href="{% slugurl 'rental-sites' %}">
                            RENTAL SITES
                        </a></li>
                        <li><a class="dropdown-item" title="Calendar displaying rental availability"
                               href="{% slugurl 'rental-availability' %}">
                            RENTAL AVAILABILITY
                        </a></li>
                        <li><a class="dropdown-item" title="Cost information for renting and catering"
                               href="{% slugurl 'rental-rates-catering' %}">
                            RENTAL PRICING<br/>&amp; CATERING
                        </a></li>
                        <li><a class="dropdown-item" title="Our policy for photography at the garden"
                               href="{% slugurl 'photo-policy' %}">
                            PHOTO POLICY
                        </a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" title="Partner website login"
                       href="https://55218.blackbaudhosting.com/55218/page.aspx?pid=498">
                        SHOPPING CART LOGIN
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Donate page" href="{% include 'includes/give-link.html' %}">
                        GIVE
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Membership page" href="{% slugurl 'memberships' %}">
                        JOIN
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Volunteer page" href="{% slugurl 'volunteer-at-red-butte-garden' %}">
                        VOLUNTEER
                    </a>
                </li>
                <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                    <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                    <hr class="d-lg-none my-2 text-white-50">
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                            id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown"
                            data-bs-display="static" aria-label="Toggle theme (dark)">
                        <svg class="bi my-1 theme-icon-active">
                            <use href="#moon-stars-fill"></use>
                        </svg>
                        <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center"
                                    data-bs-theme-value="light" aria-pressed="false">
                                <svg class="bi me-2 opacity-50 theme-icon">
                                    <use href="#sun-fill"></use>
                                </svg>
                                Light
                                <svg class="bi ms-auto d-none">
                                    <use href="#check2"></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center active"
                                    data-bs-theme-value="dark" aria-pressed="true">
                                <svg class="bi me-2 opacity-50 theme-icon">
                                    <use href="#moon-stars-fill"></use>
                                </svg>
                                Dark
                                <svg class="bi ms-auto d-none">
                                    <use href="#check2"></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center"
                                    data-bs-theme-value="auto" aria-pressed="false">
                                <svg class="bi me-2 opacity-50 theme-icon">
                                    <use href="#circle-half"></use>
                                </svg>
                                Auto
                                <svg class="bi ms-auto d-none">
                                    <use href="#check2"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
