<nav role="navigation" aria-label="Pagination navigation">
  <ul class="pagination justify-content-center my-3">
    {# Previous #}
    {% if subpages.has_previous %}
      <li class="page-item">
        {% if query_prefix %}
          <a href="?{{ query_prefix }}page={{ subpages.previous_page_number }}" class="page-link previous arrows">previous</a>
        {% elif query %}
          <a href="?q={{ query|urlencode }}&page={{ subpages.previous_page_number }}" class="page-link previous arrows">previous</a>
        {% else %}
          <a href="?page={{ subpages.previous_page_number }}" class="page-link previous arrows">previous</a>
        {% endif %}
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">previous</span></li>
    {% endif %}

    {# Pages #}
    {% for i in subpages.paginator.page_range %}
      {% if subpages.number == i %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">{{ i }}</span>
        </li>
      {% else %}
        <li class="page-item">
          {% if query_prefix %}
            <a href="?{{ query_prefix }}page={{ i }}" class="page-link">{{ i }}</a>
          {% elif query %}
            <a href="?q={{ query|urlencode }}&page={{ i }}" class="page-link">{{ i }}</a>
          {% else %}
            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}

    {# Next #}
    {% if subpages.has_next %}
      <li class="page-item">
        {% if query_prefix %}
          <a href="?{{ query_prefix }}page={{ subpages.next_page_number }}" class="page-link next arrows">next</a>
        {% elif query %}
          <a href="?q={{ query|urlencode }}&page={{ subpages.next_page_number }}" class="page-link next arrows">next</a>
        {% else %}
          <a href="?page={{ subpages.next_page_number }}" class="page-link next arrows">next</a>
        {% endif %}
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">next</span></li>
    {% endif %}
  </ul>
</nav>
