{% load static wagtailuserbar wagtailaccessibility_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!-- meta tags for SEO and indexing -->
    <meta name="description" content="{{ page.title }}">
    <meta name="author" content="Red Butte Garden">

    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#196143">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#196143">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#196143">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>

    {% include "includes/favicon.html" %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" /> <!-- Font 'Open Sans' Hosted by Google -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/summer.css' %}">

    {% include "includes/searchbar-toggle.html" %}

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/rbg.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/accessibility.css' %}">

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    <!-- Various Tracking Code Snippets -->
    {% if not request.is_preview %}
        {% include 'includes/tracking.html' %}
    {% endif %}
</head>

<body class="{% block body_class %}{% endblock %}">

{% wagtailuserbar %}
{% tota11y %}

{% if not request.is_preview %}
    <!-- KSL Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5L8MRQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End KSL Google Tag Manager (noscript) -->
{% endif %}

{% include 'includes/navbar.html' %}

{% block extra_includes %}{% endblock %}

{% block abnormal_content %}
<div id="rbgdefaultbody" class="container-fluid">
  <div class="row">
  	  <div class="col-sm-12">
        {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{# Global javascript #}
<!-- <script type="text/javascript" src="{% static 'js/redbuttegarden.js' %}"></script> -->

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
</body>

{% include 'includes/footer.html' %}

</html>
