{% load i18n static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>

    <link rel="stylesheet" href="{% static 'redbuttegarden/css/login.css' %}" type="text/css">
</head>
<body>
<div class="center">
    <a href="/">
        <img src="{% static 'redbuttegarden/img/RBG_Stacked_TwoToneGRN.svg' %}" alt="">
    </a>
    <h1>{% translate 'Password Set' %}</h1>

    <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>

    <a class="btn" href="{{ login_url }}">{% translate 'Login' %}</a>
</div>
</body>
</html>
