{% load i18n static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>

    <link rel="stylesheet" href="{% static 'redbuttegarden/css/login.css' %}" type="text/css">
</head>
<body>

{% if validlink %}

    <div class="center">
        <a href="/">
            <img src="{% static 'redbuttegarden/img/RBG_Stacked_TwoToneGRN.svg' %}" alt="">
        </a>
        <h1>{% translate 'Enter New Password' %}</h1>

        <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="txt-field">
                {{ form.new_password1.errors }}
                {{ form.new_password1 }}
                <span></span>
                <label for="{{ form.new_password1.id_for_label }}">{% translate 'New password' %}</label>
            </div>
            <div class="txt-field">
                {{ form.new_password2.errors }}
                {{ form.new_password2 }}
                <span></span>
                <label for="{{ form.password2.id_for_label }}">{% translate 'Confirm password' %}</label>
            </div>

            <input type="submit" value="{% translate 'Change my password' %}">
        </form>
    </div>

{% else %}

    <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
</body>
</html>
