{% load i18n static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>

    <link rel="stylesheet" href="{% static 'redbuttegarden/css/login.css' %}" type="text/css">
</head>
<body>
<div class="center">
    <a href="/">
        <img src="{% static 'redbuttegarden/img/rbg-logo-new.png' %}" alt="">
    </a>
    <h1>{% translate 'Password Reset Sent' %}</h1>


    <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

    <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
</div>
</body>
</html>
