.index-tile {
    max-width: 385px;
    max-height: 385px;
    overflow: hidden;
}

.index-thumbnail img {
	height: 385px;
	width: 385px;
}

.eventinfo {
    position: relative;
    width: 80%;
    z-index: 5;
    bottom: 8rem;
    background-color: var(--rbg-primary-green);
    opacity: 80%;
    padding: 15px;
}

.index-tile a::before {
    bottom: 8rem;
    z-index: 6;
    width: 80%;
}
