.index-tile {
    max-width: 385px;
    max-height: 385px;
    overflow: hidden;
}

.index-thumbnail img {
	height: 385px;
	width: 385px;
}

.index-tile a::before {
    bottom: 8rem;
    z-index: 6;
    width: 80%;
}
