body {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    background: linear-gradient(130deg, #258200, #31beff);
    height: 100vh;
}
p {
    margin: 1rem;
    letter-spacing: 0.55px;
    font-size: 16px;
    line-height: 28px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.center img {
    height: 100px;
    width: 100%;
    margin-top: 10px;
}
.center form {
    padding: 0 40px;
    box-sizing: border-box;
}
.full {
    width: 100%;
}
form .txt-field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt-field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt-field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2691d9;
    transition: .5s;
}
.txt-field input:focus ~ label,
.txt-field input:valid ~ label {
    top: -5px;
    color: #2691d9;
}
.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span::before {
    width: 100%;
}
.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover {
    text-decoration: underline;
}
.pass a {
    text-decoration: inherit;
    color: inherit;
}
input[type="submit"], .btn {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 30px;
}
input[type="submit"]:hover, .btn:hover {
    border-color: #2691d9;
    transition: .5s;
}
a.btn {
    width: 98%;
    text-decoration: none;
    color: #e9f4fb;
    display: flex;
    justify-content: center;
    line-height: 50px;
    margin: 0 auto 30px;
}
