nav a, nav a:link, nav a:visited, nav a:active {
    text-decoration: none;
    color: #000;
}

/* Makes dropdown menu headers change color when selected or clicked, as well as mobile menu icon (Hamburger Menu icon) change to same color */
nav ul.navbar-nav li.dropdown > a:active,
nav ul.navbar-nav li.dropdown > a:focus,
nav ul.navbar-nav li.dropdown > a:hover {
    background-color: #FF7744;
}

.dropdown-submenu:hover > a,
.dropdown-menu li > a:hover,
.dropdown-menu li:hover,
.dropdown-menu li > a:focus,
.dropdown-menu li:focus {
    background-color: #F2EDE4;
}

.dropdown-menu li {
    background-color: #FFF;
}

.dropdown-menu li, .dropdown-menu > a > li {
    border-top: 2px double #D3D3D3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown ul {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    text-align: center;
}

nav.navbar {
    background-color: #00502F;
    margin-bottom: 0;
    max-height: 50px;
}

#logo img {
    width: auto;
    padding: 3px 0 3px 0;
}

@media (max-width: 1320px) {
    #logo img {
        padding-right: 0;
        padding-left: 0;
    }
}