.navbar {
    --bs-navbar-padding-y: 0;
    height: 10vh;
}

.navbar .nav-link {
    color: var(--bs-white);
    font-weight: bold;
}

#logo img {
  max-height: 50px;
  width: auto;
  padding: 3px 0 3px 0;
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: currentcolor;
}

#prefooter {
	background-color: var(--bs-highlight-bg);
	border-top: 1px solid #000;
	border-bottom: 1px solid var(--bs-success-text-emphasis);
    margin-top: 2rem;
}

#prefooter a:link, #prefooter a:visited {
	color: var(--bs-highlight-color);
}

#rbgfooter {
	background-color: var(--rbg-primary-green);
    color: white;
}

#social-media-wrapper li {
	display: inline-block;
	list-style-type: none;
	box-sizing: border-box;
	text-align: center;
	margin: 0 11px 4px 11px;
}

#social-media-wrapper div:hover {
    filter: invert(50%);
}

.yelp {
	background: url('../img/sprites.webp') -200px -90px;
    width: 39px;
	height: 39px;
}

.tripadvisor {
    background: url('../img/sprites.webp') -360px -90px;
	width: 39px;
	height: 39px;
}

.facebook {
    background: url('../img/sprites.webp') -40px -90px;
	width: 39px;
	height: 39px;
}

.instagram {
    background: url('../img/sprites.webp') -240px -130px;
	width: 39px;
	height: 39px;
}

.twitter {
    background: url('../img/sprites.webp') -280px -90px;
	width: 39px;
	height: 39px;
}

.youtube {
    background: url('../img/sprites.webp') -120px -90px;
	width: 39px;
	height: 39px;
}

.pinterest {
    background: url('../img/sprites.webp') -80px -130px;
	width: 39px;
	height: 39px;
}

.rbgfooterlinks a:link, .rbgfooterlinks a:visited, .rbgfooterlinks a:active {
	font-weight: bold;
	text-decoration: none;
    color: white;
}

figcaption {
    text-align: center;
    font-style: italic;
}

#rbginfo figcaption {
    font-style: normal;
    margin-bottom: 1em;
}

.rbgfooterlinks li {
	display: inline-block;
	list-style-type: none;
    line-height: 2rem;
    border-right: 2px solid var(--bs-dark-border-subtle);
    padding-right: 1rem;
    margin-right: 1rem;
}

.rbgfooterlinks li:last-child {
    border-right: none;
}

hr {
    width: 95%;
}

#banner {
    max-width: 1280px;
}

#journalpostbody {
    margin: 0 auto 0 auto;
    padding: 65px 15px 15px 15px;
}

#journalpostbody img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.tags div {
    display: inline-block;
    margin-bottom: 3px;
}

/* Used for categories in journal_page.html */
.tags ul li {
    border: 1px solid rgba(25,97,67,.7);
    border-radius: 10px;
}

#journalpostbody .col-sm-3 {
    border-right: 1px solid rgba(25,97,67,.7);
}

#sponsor-list, #table-info-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sponsor-list .info-table-card {
    min-height: 200px;
    margin: 5px 50px;
}

.sponinfo table caption {
    color: #A26BA2;
    font-weight: bold;
    font-size: 14px;
}

#table-info-card-list thead th {
    background-color: #196143;
    color: white;
    text-align: center;
    border: 1px solid black;
}

/* Vertical Center */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

img.richtext-image {
    padding: 10px;
}

img.right {
    float: right;
    height: auto;
}

img.left {
    float: left;
    height: auto;
}

img.full-width {
    width: 100%;
    height: auto;
}

/* For wagtail embeds */
.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* To prevent collision between floated images and list style elements */
ul, ol {
    list-style-position: inside;
}

#search ul {
    list-style-position: outside;
}

.image-list-dropdown {
    min-height: 266px;
}

.foot-btn-wrap {
    margin: 10px 0;
}

.footer-btn-inner {
    min-height: 40px;
}

/* Pagination navigation */
nav[role=pagination] {
    margin-top: 50px;
    text-align: center;
}

.index-tile {
    margin-top: 30px;
    max-width: 415px;
    overflow: hidden;
}

.index-thumbnail img {
    height: 385px;
    width: 385px;
}

footer {
    position: absolute;
    width: 100%;
}

.memfaqwrap > a, .memfaqwrap > a:link, .memfaqwrap > a.visited {
    text-decoration: none;
}

/* Backgrounds */
.green-bg {
    color: white;  /* Black text is too difficult to read with green background */
    padding: 10px;
    background-color: #196143;
}

.tan-bg {
    padding: 10px;
    background-color: #F2EDE4;
}

.dark-tan-bg {
    padding: 10px;
    background-color:#C4B59E;
}

.white-bg {
    padding: 10px;
    background-color: #FFF;
}

.red-bg {
    color: white;  /* Better color contrast makes it easier to read with white text */
    padding: 10px;
    background-color: red;
}

.orange-bg {
    font-weight: bold;  /* Again, makes text easier to read this way */
    padding: 10px;
    background-color: #FF7744;
}

.dark-blue-bg {
    padding: 10px;
    background-color: #1b2940;
}
/* End backgrounds */

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.image-list-card {
    margin-bottom: 1em;
    border-left: 2px solid black;
}
