@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --rbg-lavender-purple: #C1B5D5;
    --rbg-oak-green: #0b412d;
    --rbg-oak-green-rgb: 10, 65, 45;
    --rbg-conifer-green: #D0E8E5;
    --rbg-conifer-green-rgb: 92, 135, 59;
    --rbg-cactus-flower-yellow: #EFB544;
    --rbg-cactus-flower-yellow-rgb: 239, 181, 68;
    --rbg-penstemon-blue: #5A75B5;
    --rbg-night-sky-blue: #243656;
    --rbg-fall-leaves-red: #B2392F;
    --rbg-highlight-bg: #F2EDE4;
    --rbg-teal: #005a65;
    --rbg-teal-rgb: 0, 90, 101;
    --rbg-dark-blue: #1a2d44;
    --rbg-dark-blue-rgb: 26, 45, 68;
    --rbg-red: #82261b;
    --rbg-purple: #432f71;
    --rbg-orange: #FF7744;
    --rbg-orange-rgb: 255, 119, 68;
    --rbg-gray: #BBBABA;
    --rbg-gray-rgb: 187, 186, 186;
    --rbg-lilac: #963983;
    --rbg-font-family: 'Open Sans', Impact, sans-serif;
    --rbg-white: #ffffff;
}
