{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div id="banner" class="row-fluid text-center responsive">
        {% image page.banner max-1280x500 %}
    </div>

    <br>

    <div class="row-fluid text-center">
        {{ page.intro|richtext }}
    </div>

    <div class="row-fluid col xs-12">
        {% for event in events %}
            <div class="col-sm-4">
                {% with event=event.specific %}
                    <a href="{% pageurl event %}">
                        <div class="eventwrapsmall hover">
                            {% image event.thumbnail fill-385x385 %}
                            <div class="eventinfo">
                                <div class="eventname">{{ event.title }}</div>
                                <div class="eventdate">{{ event.event_dates }}</div>
                                <div class="eventnotes">{{ event.notes|richtext }}</div>
                            </div>
                        </div>
                    </a>
                {% endwith %}
            </div>
        {% empty %}
            <br>
            <br>
            <div id="empty-msg" class="row-fluid">
                <div class="tan-bg">
                    <h4 class="text-center green">
                        There are currently no planned events in the near future. Please check back soon!
                    </h4>
                </div>
            </div>
        {% endfor %}
    </div>

    <br>
    <br>

    <div class="row-fluid">
        {% for block in page.body %}
            {% if block.block_type == "image" %}
                <br>

                <div class="text-center">
                    {% image block.value width-200 %}
                </div>

                <br>

            {% elif block.block_type == "page_link" %}
                <!-- spage is just short for specific page -->
                {% with spage=block.value.specific %}
                    <div class="col-sm-4 page-link">
                        <a href="{% pageurl spage %}">
                            <div class="eventwrapsmall hover">
                                {% image spage.thumbnail original %}
                                <div class="eventinfo">
                                    <div class="eventname">{{ spage.title }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endwith %}
            {% else %}
                {% include_block block %}
                <br>

            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/no_children_page_links.js' %}"></script>
{% endblock %}
