{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <!-- Begin First Column -->
    <div class="row">
        <div class="col-sm-3">
            <!-- Event Picture-->
            <div class="event-pic">
                {% image page.thumbnail fill-300x300 %}
            </div>

            <div class="ev-title-mobile">
                <br>
                <div class="ev-title caps">{{ page.title }}</div>
                <div class="ev-sub">{{ page.sub_heading }}</div>
            </div>

            <div class="ev-date-mobile">
                {{ page.event_dates }}
            </div>

            <br>

            <div class="ev-info-header green">LOCATION:</div>
            <div class="ev-location">
                {{ page.location }}
            </div>

            <br>

            <!-- Registration Info -->
            {% if page.additional_info %}
                <div class="ev-info-header green">ADDITIONAL INFO:</div>
                <div class="ev-member-sale">
                    {{ page.additional_info|richtext }}
                </div>

                <br>
            {% endif %}

            <!-- Instructor Info -->
            {% if page.instructor %}
                <div class="ev-info-header green">INSTRUCTOR:</div>
                <div>
                    {{ page.instructor }}
                </div>

                <br>
            {% endif %}

            <!-- Price Info -->
            {% if page.member_cost or page.public_cost %}
                <div class="ev-info-header green">COST:</div>
            {% endif %}

            {% if page.member_cost %}
                <div>
                    <div class="inline"><strong>Garden Members:&nbsp;</strong></div>
                    <div class="ev-member-cost">{{ page.member_cost }}</div>
                </div>
            {% endif %}

            {% if page.public_cost %}
                <div>
                    <div class="inline"><strong>General Public:&nbsp;</strong></div>
                    <div class="ev-public-cost"><span class="green bold">{{ page.public_cost }}</span></div>
                </div>
            {% endif %}

            <br>

        </div>
        <!-- End First Column -->

        <!-- Begin Second Column -->
        <div class="col-sm-9">
            <div class="ev-title-reg">
                <div class="ev-title">{{ page.title|upper }}</div>
                <div class="ev-sub">{{ page.sub_heading }}</div>
            </div>

            <br>

            <div class="ev-date">{{ page.event_dates }}</div>

            <br>
            <br>

            <div class="ev-desc">
                <div>
                    {% for block in page.body %}
                        <div class="row">
                            {% if block.block_type == 'image' %}
                                {% image block.value original class="img-responsive" %}
                            {% else %}
                                {% include_block block %}
                            {% endif %}
                        </div>
                    {% endfor %}

                    {% if page.policy.name %}

                        <br>

                        <div class="row">
                            <p class="text-center">
                                {% with policy_page=page.policy.policy_page.specific %}
                                    <a href="{% pageurl policy_page %}">
                                        {{ page.policy.link_text }}
                                    </a>
                                {% endwith %}
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
