{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="row-fluid text-center">
        {% image page.banner max-1280x500 %}
    </div>
    <br>

    {% for block in page.body %}
        <div class="row-fluid">
            {% if block.block_type == 'tan_bg_text' %}
                <div class="tan-bg">
                    {% include_block block %}
                </div>
            {% else %}
                {% include_block block with id=block.id %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
