{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block title %}
    {% if page.search_type == 'event-category' %}{{ page.cat_title }}{% else %}{{ block.super }}{% endif %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'redbuttegarden/css/index_page.css' %}">
{% endblock %}

{% block content %}
    {% include 'includes/banner_image.html' %}

    <div class="text-center p-3">
        {{ page.intro|richtext }}
    </div>

    <div id="wagtail-children" class="container-fluid">
        <div class="row gy-5 justify-content-between">
            {% for event in events %}
                <div class="col-lg-4 index-tile">
                    {% with event=event.specific %}
                        <a href="{% pageurl event %}">
                            <div class="index-thumbnail">
                                {% comment %}
                                    Added blank alt attribute to image thumbnails since these are primarily to
                                    create a larger surface area for the page links and alt attributes would
                                    unnecessarily complicate page navigation for users using screen readers.
                                {% endcomment %}
                                {% image event.thumbnail fill-385x385 alt="" %}
                                <div class="eventinfo text-white">
                                    <div class="eventname">{{ event.title }}</div>
                                    <div class="eventdate">{{ event.event_dates }}</div>
                                    <div class="eventnotes">{{ event.notes|richtext }}</div>
                                </div>
                            </div>
                        </a>
                    {% endwith %}
                </div>
                {% empty %}
                <div id="empty-msg" class="row">
                    <div class="tan-bg">
                        <h4 class="text-center green">
                            There are currently no planned events in the near future. Please check back soon!
                        </h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        {% for block in page.body %}
            {% if block.block_type == "image" %}
                <div class="text-center">
                    {% image block.value width-200 class="img-fluid" %}
                </div>

            {% elif block.block_type == "page_link" %}
                <!-- spage is just short for specific page -->
                {% with spage=block.value.specific %}
                    <div class="col-sm-4 page-link">
                        <a href="{% pageurl spage %}">
                            <div class="index-thumbnail">
                                {% comment %}
                                    Added blank alt attribute to image thumbnails since these are primarily to create a
                                    larger surface area for the page links and alt attributes would unnecessarily
                                    complicate
                                    page navigation for users using screen readers.
                                {% endcomment %}
                                {% image spage.thumbnail fill-385x385 alt="" %}
                                <div class="eventinfo">
                                    <div class="eventname">{{ spage.title }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endwith %}
            {% else %}
                {% include_block block %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'events/js/no_children_page_links.js' %}"></script>
{% endblock %}
