{% load wagtailcore_tags wagtailimages_tags %}

<section class="row my-3">
  <ul class="tan-bg list-unstyled">
    {% for list_item in value.list_items %}
      <li class="mb-4">
        <div class="d-flex align-items-start gap-3">
          <div class="flex-shrink-0">
            {% if list_item.link_url %}
              <a href="{{ list_item.link_url }}">{% image list_item.image original class='rounded img-fluid' %}</a>
            {% else %}
              {% image list_item.image original class='rounded img-fluid' %}
            {% endif %}
          </div>

          <div class="flex-grow-1">
            <div class="text-center">
              <div class="fs-2">{{ list_item.title }}</div>
              <div class="green fs-4">{{ list_item.sub_title }}</div>
            </div>
            {% include_block list_item.text|richtext %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
