{% extends "shop/base_shop.html" %}
{% load wagtailimages_tags %}

{% block content %}
    <h1>
        Welcome to our store
    </h1>

    <div class="columns">
        {% for product in products %}
            <div class="column col-6">
                <div class="card">
                    <div class="card-image">
                        {% image product.image fill-600x600 as tmp_image %}
                        <img src="{{ tmp_image.url }}" alt="" class="img-responsive">
                    </div>
                    <div class="card-header">
                        <a href="{{ product.get_url }}" class="btn btn-secondary float-right">
                            More info
                        </a>
                        <div class="card-title h5">
                            {{ product.title }}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="product-description">
                            {{ product.short_description }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
