.carousel-caption {
    font-size: 5em;
    text-align: left;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

#imageCarousel iframe {
    width: 100%;
    height: 100%;
}

#main {
    overflow: hidden;
}

#visitImage {
    max-height: 50em;
    width: 100%;
}

#visitInfo {
    height: 100%;
    background-color: #d0e8e5;

    a, a:link, a:visited, a:active {
        color: inherit;
        font-weight: inherit;
        text-decoration: underline;
    }
}

#iconLinkContainer {
    overflow: hidden;
    color: #0b412d;

    a, a:link, a:visited, a:active {
        color: inherit;
        font-weight: inherit;
        text-decoration: none;
    }

    .col {
        background-color: #f7f7f7;
    }

    img {
        height: 7em;
    }
}

#upcomingEventsContainer {
    a, a:link, a:visited, a:active {
        color: inherit;
        font-weight: inherit;
        text-decoration: none;
    }

    img {
        width: 100%;
    }

    .card {
        border-radius: 0;
    }

    .card .card-body {
        min-height: 20rem;
    }

    .btn {
        background-color: #d0e8e5;
        color: #0a412d;
    }
}

#followUsContainer {
    background-color: #f7f7f7;

    .image-row {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .image-row img {
        position: relative;
        display: inline-block;
    }
    .arrow {
        display: inline-flex;
        position: absolute;
        top: 70%;
        cursor: pointer;
        color: black;
        background-image: radial-gradient(circle at 50% 50%, rgb(208, 232, 229) 0%, rgba(208, 232, 229, 0.72) 50%, rgba(0, 0, 0, 0) 100%);
        padding: 0.15rem;
        border-radius: 1rem;
        z-index: 1;
    }
    .arrow-right {
        right: 10px;
        transform: scale(2) translateX(-100%);
    }
    .arrow-left {
        left: 10px;
        transform: scale(2) translateX(200%);
    }
}