body.template-homepage {
    h1 {
        font-size: 3rem;
        font-weight: bold;
    }
}

.carousel-caption {
    font-size: 5em;
    text-align: left;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

#imageCarousel iframe {
    width: 100%;
    height: 100%;
}

#main {
    overflow: hidden;
}

#visitImage {
    max-height: 50em;
    width: 100%;
}

#visitContainer {
    #visitInfo {
        height: 100%;
        background-color: var(--rbg-conifer-green);

        a, a:link, a:visited, a:active {
            color: inherit;
            font-weight: inherit;
            text-decoration: underline;
        }
    }

    picture {
        position: relative;
    }

    #openClosedBubble {
        position: absolute;
        top: -240px;
        left: 40px;
        font-size: 1.25rem;
        padding: 10px 15px;
        border-style: solid;
        border-width: 2px;
        border-radius: 30px;

        i {
            padding: 0 10px;
        }
    }

    #openClosedBubble.rbg-open {
        color: var(--rbg-oak-green);
        background-color: var(--rbg-conifer-green);
        border-color: var(--rbg-oak-green);
    }

    #openClosedBubble.rbg-closed {
        color: white;
        background-color: #ff3e3e;
        border-color: maroon;
    }

}

#whatsBloomingContainer {
    background-color: var(--rbg-cactus-flower-yellow);

    #whatsBloomingLink {
        color: black;
        font-weight: normal;
        text-decoration: underline;
    }
}

#iconLinkContainer {
    overflow: hidden;
    color: var(--rbg-oak-green);

    a, a:link, a:visited, a:active {
        color: inherit;
        font-weight: inherit;
        text-decoration: none;
    }

    .ratio-1x1 {
        background-color: #f7f7f7;
    }

    img {
        height: 7em;
    }
}

#upcomingEventsContainer {

    a, a:link, a:visited, a:active {
        color: inherit;
        font-weight: inherit;
        text-decoration: none;
    }

    .card {
        border-radius: 0;
    }

    .card .card-body {
        min-height: 20rem;
    }

    .upcoming-event-title {
        font-weight: bold;
    }

    .btn {
        background-color: var(--rbg-conifer-green);
        color: var(--rbg-oak-green);
    }
}

#followUsContainer {
    background-color: #f7f7f7;

    .image-row {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .image-row img {
        position: relative;
        display: inline-block;
    }

    .arrow {
        display: inline-flex;
        position: absolute;
        top: 70%;
        cursor: pointer;
        color: black;
        background-image: radial-gradient(circle at 50% 50%, rgb(208, 232, 229) 0%, rgba(208, 232, 229, 0.72) 50%, rgba(0, 0, 0, 0) 100%);
        padding: 0.15rem;
        border-radius: 1rem;
        z-index: 1;
    }

    .arrow-right {
        right: 10px;
        transform: scale(2) translateX(-100%);
    }

    .arrow-left {
        left: 10px;
        transform: scale(2) translateX(200%);
    }
}