#Facebook-Logo {
    transform: scale(0.85);
}

#Twitter-Logo {
    transform: scale(0.8);
}

#Pinterest-Logo {
    transform: scale(0.9);
}

#Youtube-Logo {
    transform: scale(1.04);
}

#Instagram-Logo {
    transform: scale(0.79);
}

.tabs, .images-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.tablinks {
    background-color: white;
    border: none;
    opacity: 1;
    transition: 0.3s;
}

.tablinks:hover {
    opacity: 0.6;
}

.content {
    margin-top: 10px;
    text-align: center;
}

.tabcontent {
    width: 100%;
    animation: 1.2s ease-out 0s 1 slideInFromBottom;
}

.media-parent {
    margin-bottom: 3rem;
}

.media-link {
    text-decoration: none;
}

.media-img {
    width: 100%;
    height: auto;
}

.media-caption {
    color: black; 
    margin-top: 1rem;
}