{% load wagtailcore_tags wagtailimages_tags %}

<div class="container-fluid d-flex flex-wrap justify-content-evenly">
    {% for list_item in value.list_items %}
        <div class="btn-block w-100 my-3">
            <button class="volbutton hover green-bg no-button-outline px-3" type="button" data-target="#{{ id }}-{{ forloop.counter }}"
                    data-bs-toggle="collapse" aria-expanded="false" aria-controls="{{ id }}-{{ forloop.counter }}"
                    href="#{{ id }}-{{ forloop.counter }}">
                {{ list_item.button_text }}
            </button>
            <div class="collapse tan-bg" id="{{ id }}-{{ forloop.counter }}">
                {{ list_item.info_text }}
            </div>
        </div>
    {% endfor %}
</div>
