{% load wagtailcore_tags wagtailimages_tags %}

<div class="row-fluid">
    {% for list_item in value.list_items %}
        <div class="col-sm-4 lowpadding">
            <span class="no-button-outline">
			    <button class="volbutton hover green-bg" data-target="#{{ forloop.counter }}" data-toggle="collapse" href="#membenefits">
                    {{ list_item.button_text }}
                </button>
		    </span>
            <div class="collapse tan-bg" id="{{ forloop.counter }}">
                {{ list_item.info_text }}
            </div>
        </div>
    {% endfor %}
</div>
