{% load wagtailcore_tags wagtailimages_tags %}

<div class="row-fluid">
    {% for list_item in value.list_items %}
        <div class="col-xs-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">

                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ id }}-{{ forloop.counter }}">
                        <div class="panel-heading">
                            <div class="panel-title hover">
                                {% include_block list_item.card_info %}
                            </div>
                        </div>
                    </a>

                    <div id="{{ id }}-{{ forloop.counter }}" class="panel-collapse collapse">
                        <div class="panel-body">

                            {{ list_item.info_text|richtext }}

                            <div class="apply-button hover">
                                <a class="button" href="{{ list_item.info_button_url }}" target="_blank">
                                    <span class="btn-inner center text-center">{{ list_item.info_button_text }}</span>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Accounting Specialist-->
    {% endfor %}
</div>