{% load wagtailcore_tags %}

<div class="accordion" id="block-id-{{ block.id }}-faq-accordion">
    {% for list_item in value.list_items %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button{% if not forloop.first %} collapsed{% endif %}" type="button"
                        data-bs-toggle="collapse" data-bs-target="#block-id-{{ block.id }}-{{ forloop.counter }}"
                        aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                        aria-controls="block-id-{{ block_id }}-{{ forloop.counter }}">
                    {{ list_item.title_question }}
                </button>
            </h2>

            <div id="block-id-{{ block.id }}-{{ forloop.counter }}"
                 class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                 data-bs-parent="#block-id-{{ block.id }}-faq-accordion">
                <div class="accordion-body">
                    {% include_block list_item.text %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

