{% load wagtailcore_tags %}

<div id="{{ block.id }}" class="accordion my-3">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Accordion Item #2
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#{{ block.id }}">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>

    {% for list_item in value.list_items %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#{{ block.id }}-{{ forloop.counter }}" aria-expanded="false"
                        aria-controls="{{ block.id }}-{{ forloop.counter }}">
                    {{ list_item.title_question }}
                </button>
            </h2>
            <div id="{{ block.id }}-{{ forloop.counter }}" class="accordion-collapse collapse"
                 data-bs-parent="#{{ block.id }}">
                <div class="accordion-body">
                    {% include_block list_item.text %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

