{% load wagtailcore_tags wagtailimages_tags %}

<div class="row gy-3 m-3">
    {% for list_item in value.list_items %}
        <div class="col-lg-4 col-md-6">
            <a class="eventwrapsmall collapsed" data-bs-toggle="collapse"
                 href="#block-id-{{ block.id }}-{{ forloop.counter }}" aria-expanded="false" aria-controls="block-id-{{ block.id }}-{{ forloop.counter }}">
                {% image list_item.image fill-385x385 alt="" class="image-list-dropdown" %}
                <div class="eventinfo">
                    <div class="eventname">
                        {{ list_item.title|truncatewords:7 }}
                        <span class="dropdown-toggle float-end"></span>
                    </div>
                </div>
            </a>
            <div id="block-id-{{ block.id }}-{{ forloop.counter }}" class="collapse" aria-expanded="false">
                <div class="tan-bg">
                    <div class="row">
                        <h4 class="green">{{ list_item.title }}</h4>
                        {% include_block list_item.text %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
