{% load wagtailcore_tags wagtailimages_tags static %}

<br>

<div class="row">
    {% for list_item in value.list_items %}
        {% if list_item.image %}
        <div id="image-list-card-info" class="col-sm-6 lowpadding">
            <div class="memwrap">
                <div class="mempic">
                    <img class="responsive" width="175" height="225" src="{{ list_item.image.file.url }}" alt="{{ list_item.image.alt }}">
                </div>
                <div class="meminfo">
                    {% include_block list_item.text %}
                    {% if list_item.button_text %}
                        <a href="{{ list_item.button_url }}">
                            <input class="membutton" type="submit" value="{{ list_item.button_text }}">
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
            <div class="col-md-4 lowpadding">
                <div class="memwrap">
                    <div class="meminfo memcorp">
                        {% include_block list_item.text %}
                        {% if list_item.button_text %}
                            <a href="{{ list_item.button_url }}">
                                <input class="membutton" type="submit" value="{{ list_item.button_text }}">
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
