{% load wagtailimages_tags %}

<div class="container">
    <br>
    <div id="rbgCarousel" class="carousel slide">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for image in value.images %}
                <div class="carousel-item text-center {% if forloop.first %}active{% endif %}">
                    {% image image original class="img-fluid" %}
                </div>
            {% endfor %}
        </div>

        <!-- Left and right controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#rbgCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#rbgCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
