{% load wagtailcore_tags wagtailimages_tags %}

<div class="container-fluid d-flex flex-wrap justify-content-evenly">
    {% for list_item in value.list_items %}
        <div class="image-dropdown-item my-3">
            <button type="button" class="eventwrapsmall hover border-0 p-0 bg-transparent w-100"
                    data-target="#{{ id }}-{{ forloop.counter }}" data-bs-toggle="collapse"
                    data-bs-target="#{{ id }}-{{ forloop.counter }}" aria-expanded="false"
                    aria-controls="{{ id }}-{{ forloop.counter }}">
                {% picture list_item.image format-{webp,avif,jpeg} width-{400,800} sizes="(max-width: 767px) 100vw, 50vw" class="image-list-dropdown img-fluid w-100" loading="lazy" %}
                <span class="eventinfo d-block">
                    <span class="eventname d-block">{{ list_item.title|truncatewords:7 }}</span>
                </span>
            </button>
            <div id="{{ id }}-{{ forloop.counter }}" class="panel-border collapse">
                <div class="tan-bg">
                    <div class="row">
                        <h4 class="green">{{ list_item.title }}</h4>
                        {% include_block list_item.text %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
