{% load wagtailcore_tags %}

<div class="{{ value.background_color }}">
    {% if value.title %}
        <div class="row">
            <h3 class="text-center green">{{ value.title }}</h3>
        </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-{{ value.paragraph|length }} {{ value.alignment }}">
        {% for paragraph in value.paragraph %}
            <div class="col py-1 py-md-3 px-3">
                {{ paragraph|richtext }}
            </div>
        {% endfor %}
    </div>
</div>