{% load wagtailcore_tags %}

<div class="{{ value.background_color }}">
    <div class="">
        {% if value.title %}
            <div class="row">
                <h3 class="text-center green">{{ value.title }}</h3>
            </div>
        {% endif %}
        <div class="d-flex flex-wrap {{ value.alignment }}">
            {% for paragraph in value.paragraph %}
                <div class="flex-even p-3">
                    {{ paragraph|richtext }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>