{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'css/collection_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>Collection Detail</h1>
    <div class="names">
        {% if collection.species.vernacular_name %}
            <h4 class="common-name">{{ collection.species.vernacular_name }}</h4>
        {% endif %}
        <h4 class="scientific-name"><a href="{% url 'plants:species-detail' collection.species_id %}">{{ collection.species.genus.name }} {{ collection.species.name }}</a></h4>
    </div>
    <div class="collection-info">
        <p class="location">{{ collection.location.latitude }}, {{ collection.location.longitude }}</p>
        {% if collection.plant_id %}
            <p><span class="bold">Plant ID: </span>{{ collection.plant_id }}</p>
        {% endif %}
        <p><span class="bold">Family: </span>{{ collection.species.genus.family.name }}</p>
        <p><span class="bold">Garden: </span>{{ collection.garden.name }}</p>
        <p><span class="bold">Bed #: </span>{{ collection.garden.code }}</p>
        <p><span class="bold">Date Planted: </span>{{ collection.plant_date }}</p>
    </div>
{% endblock %}
