{% extends 'base.html' %}


{% block content %}
    <div class="search">
        <form>
            <div class="form-group">
                <label for="scientificName">Scientific Name</label>
                <input type="text" class="form-control" id="scientificName" placeholder="Scientific name">
            </div>
            <div class="form-group">
                <label for="commonName">Common Name</label>
                <input type="text" class="form-control" id="commonName" placeholder="Common name">
            </div>
            <div class="form-group">
                <label for="familyName">Family Name</label>
                <select class="form-control" id="familyName">
                    <option></option>
                    {% for family in families %}
                        <option>{{ family }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="habit">Habit</label>
                <select class="form-control" id="habit">
                    <option></option>
                    {% for habit in habits %}
                        <option>{{ habit }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="exposure">Exposure</label>
                <select class="form-control" id="exposure">
                    {% for exposure in exposures %}
                        <option>{{ exposure }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="water">Water Needs</label>
                <select class="form-control" id="water">
                    {% for water in water_needs %}
                        <option>{{ water }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="bloom">Bloom Time</label>
                <select class="form-control" id="bloom">
                    <option></option>
                    {% for bloom in bloom_months %}
                        <option>{{ bloom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
