{% extends 'base.html' %}
{% load static wagtailcore_tags %}

{% block title %}Living Collections Plant Map{% endblock %}

{% block extra_css %}
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.css' rel='stylesheet' />
    <link href="{% static 'plants/css/plant_map.css' %}" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.js'></script>
{% endblock %}

{% block abnormal_content %}
    <div class="container-fluid px-0">
        <div id="map-load-overlay">
            <div id="load-icon" class="fa-3x">
                <i class="fas fa-sync-alt fa-spin"></i>
            </div>
        </div>
        <div class="map-overlay">
            <fieldset>
                <label for="feature-filter">Collection filter</label>
                <input id="feature-filter" type="text" placeholder="Filter results by name">
            </fieldset>
            <p class="small text-center">Click a collection to open it's detail page</p>
            <div id="feature-listing" class="listing"></div>
        </div>
        <div id="map">
            <div id="mapMenu">
                <input id="rbg-custom" type="radio" name="rtoggle" value="rbg" checked>
                <label for="rbg-custom">RBG&A custom</label>
                <input id="satellite-v9" type="radio" name="rtoggle" value="satellite">
                <label for="satellite-v9">satellite</label>
                <input id="light-v10" type="radio" name="rtoggle" value="light">
                <label for="light-v10">light</label>
                <input id="dark-v10" type="radio" name="rtoggle" value="dark">
                <label for="dark-v10">dark</label>
                <input id="streets-v11" type="radio" name="rtoggle" value="streets">
                <label for="streets-v11">streets</label>
            </div>
        </div>
        <div id="legend">
            <h5>Legend</h5>
            <div><span><img src="{% static 'plants/img/annual_icon.png' %}" alt="Icon for annual plants"></span>Annual</div>
            <div><span><img src="{% static 'plants/img/bulb_icon.png' %}" alt="Icon for bulb plants"></span>Bulb</div>
            <div><span><img src="{% static 'plants/img/deciduous_shrub_icon.png' %}" alt="Icon for deciduous shrubs"></span>Deciduous Shrub</div>
            <div><span><img src="{% static 'plants/img/deciduous_tree_icon.png' %}" alt="Icon for deciduous trees"></span>Deciduous Tree</div>
            <div><span><img src="{% static 'plants/img/vine_icon.png' %}" alt="Icon for viney plants"></span>Vine</div>
            <div><span><img src="{% static 'plants/img/evergreen_groundcover_icon.png' %}" alt="Icon for evergreen groundcover plants"></span>Evergreen Groundcover</div>
            <div><span><img src="{% static 'plants/img/evergreen_shrub_icon.png' %}" alt="Icon for evergreen shrubs"></span>Evergreen Shrub</div>
            <div><span><img src="{% static 'plants/img/evergreen_tree_icon.png' %}" alt="Icon for evergreen trees"></span>Evergreen Tree</div>
            <div><span><img src="{% static 'plants/img/grass_icon.png' %}" alt="Icon for grasses"></span>Grass</div>
            <div><span><img src="{% static 'plants/img/perennial_icon.png' %}" alt="Icon for perennial plants"></span>Perennial</div>
            <div><span><img src="{% static 'plants/img/succulent_icon.png' %}" alt="Icon for succulent plants"></span>Succulent</div>
        </div>

        <div class="row">
            <div class="tutorial">
                <h5>Plant Collection Map Tutorial</h5>
                <p>Click <a href="{% slugurl 'plant-app-tutorial' %}">HERE</a> for a guide on how to use this map and explore the rest of our living collections detail pages.</p>
            </div>
            <div class="credits">
                <h5>Icon Credit/Attribution</h5>
                <div>Annual and evergreen groundcover icons made by <a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                <div>Bulb, perennial, succulent and deciduous tree icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                <div>Deciduous and evergreen shrub icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                <div>Evergreen tree icon made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                <div>Vine icon made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                <div>Grass icon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ mapbox_token|json_script:"mapboxToken" }}
    <script src="{% static 'plants/js/name_styling.js' %}"></script>
    <script src="{% static 'plants/js/plant_map.js' %}"></script>
{% endblock %}
