{% extends 'base.html' %}
{% load static %}

{% block title %}Living Collection Search{% endblock %}

{% block extra_css %}
    <link href="{% static 'plants/css/plant_search.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <h1>Search our Living Collections</h1>
    <div class="search">
        <form action="{% url 'plants:collection-search' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <br>
            <input type="submit" name="map_search" class="btn btn-primary" value="Map Search Results" />
            <input type="submit" name="list_search" class="btn btn-primary" value="List Search Results" />
            <button type="reset" class="btn btn-light">Reset Form</button>
        </form>
    </div>

    <br>

    <div>
        <p>
            <a href="https://herbaria.plants.ox.ac.uk/bol/rbbg/">BRAHMS Online Database</a>
        </p>
    </div>
{% endblock %}
