{% extends 'base.html' %}
{% load static %}

{% block title %}Plant Collection Feedback Form{% endblock %}

{% block extra_css %}
    <link href="{% static 'plants/css/feedback.css' %}" rel="stylesheet">
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{% endblock %}


{% block content %}
    <h1>Report a Problem or Leave a Comment</h1>
    <div class="container-fluid">
        {% if species_id %}
            <form action="{% url 'plants:species-feedback' species_id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="h-captcha" data-sitekey="{{ hcaptcha_site_key }}"></div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-light">Reset Form</button>
            </form>
        {% else %}
            <form action="{% url 'plants:collection-feedback' collection_id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="h-captcha" data-sitekey="{{ HCAPTCHA_SITE_KEY }}"></div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-light">Reset Form</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
