.scientific-name {
    text-decoration: none;
    font-style: italic;
    font-weight: lighter;
}

.family {
    font-weight: lighter;
}

.main-image {
    float: right;
}

.species-info {
    float: left;
}

#add-photo-label {
    font-size: smaller;
}
