.scientific-name {
    text-decoration: none;
    font-weight: lighter;
}

.family {
    font-weight: lighter;
}

#add-photo-label {
    font-size: smaller;
}

.icons img {
    max-height: 50px;
    width: auto;
}

.thumb-row {
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
    gap: 1em;
}

.thumb-col {
    flex: 0 0 auto;
}

#blooming {
    font-style: italic;

    svg {
        max-width: 35px;
        height: auto;
    }
}
