.scientific-name {
    text-decoration: none;
    font-weight: lighter;
}

.family {
    font-weight: lighter;
}

#add-photo-label {
    font-size: smaller;
}

.icons img {
    max-height: 50px;
    width: auto;
}

.thumb-row {
    max-width: fit-content;
    margin-inline: auto;
    gap: 1em;
}