{% load static wagtailcore_tags wagtailimages_tags %}

{% for slide in slides %}
    <div>
        {% if slide.link.url %}
            <a href="{{ slide.link.url }}">
        {% else %}
            <a href="{{ slide.alternate_link }}">
        {% endif %}
                {% image slide.image original as tmp_photo %}
                <img u="image" src2="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"/>
                <div class="slide-description">{{ slide.text|richtext }}</div>
            </a>
    </div>
{% endfor %}
