{% load static wagtailcore_tags wagtailimages_tags %}

{% for slide in slides %}
    {% if forloop.first %}
        <div class="carousel-item active">
    {% else %}
        <div class="carousel-item">
    {% endif %}
            {% if slide.link.url %}
                <a href="{{ slide.link.url }}">
            {% else %}
                <a href="{{ slide.alternate_link }}">
            {% endif %}
                    {% image slide.image original as tmp_photo %}
                    <img class="d-block w-100" src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"/>
                    <div class="slide-description">{{ slide.text|richtext }}</div>
                </a>
    </div>
{% endfor %}
