{% load wagtailcore_tags wagtailimages_tags %}

<div class="p-2">
    <h1>Follow Us</h1>
    <div class="subtitle d-none d-sm-block">Lorem ipsum</div>
</div>

<div class="arrow arrow-left d-none" onclick="scrollSocialLeft()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
    </svg>
</div>
<div class="image-row">
    {% for media_info in images_and_links %}
        <a href="{{ media_info.url }}">
            {% image media_info.image fill-385x385 alt="" class="p-2" %}
        </a>
    {% endfor %}
</div>
<div class="arrow arrow-right" onclick="scrollSocialRight()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
    </svg>
</div>

{% comment %}
    Scrolling is handled by home/js/follow_us_scroll.js
{% endcomment %}