{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

<div id="imageCarousel" class="carousel slide d-none" data-bs-ride="ride">
    <div class="carousel-indicators">
        {% for slide in slides %}
            <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                    class="{% if forloop.first %}active{% endif %}"
                    aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for slide in slides %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="d-flex justify-content-center vh-100">
                    {% if slide.image %}
                        <a class="w-100" href="
                                {% if slide.link.url %}{{ slide.link.url }}{% else %}{{ slide.alternate_link }}{% endif %}">
                            {% picture slide.image format-{avif,webp,jpeg} original class="img-fluid w-100" %}
                            {% if slide.text %}
                                <div class="carousel-caption">
                                    <p>{{ slide.text|richtext }}</p>
                                </div>
                            {% endif %}
                        </a>
                    {% else %}
                            {% embed slide.embed %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>