{% load wagtailcore_tags wagtailimages_tags %}

<h1>Upcoming Events</h1>

{% for event in events %}
    {% with event=event.specific %}
        <a href="{{ event.url }}" class="col py-5">
            <div class="card h-100">
                {% image event.thumbnail fill-385x385 alt="" %}
                <div class="card-body p-5">
                    <div class="upcoming-event-date text-uppercase">{{ event.event_dates }}</div>
                    <div class="upcoming-event-title fs-3">{{ event.title }}</div>
                    <div class="card-text">{{ event.sub_heading }}</div>
                </div>
            </div>
        </a>
    {% endwith %}
{% endfor %}

<div class="container-fluid text-center">
    <a class="btn fw-bold" href="{% slugurl 'calendar' %}">SEE FULL CALENDAR</a>
</div>
