{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <a href="{{ page.banner_link }}">
                {% image page.banner original class="responsive" %}
            </a>
            <div class="tan-bg">
                <br>
                <div class="row-fluid">
                    {{ page.intro|richtext }}
                </div>
                <a href="{% slugurl 'concert-donors' %}">
                    <div class="concertbanner hover">
                        {% image page.donor_banner original as donor_banner %}
                        <img src="{{ donor_banner.url }}" alt="Banner of concert donor logos">
                    </div>
                </a>
            </div>
            <div id="concertcontent" class="container-fluid container-fluid-no-padding">
                <div class="row-fluid" style="max-width: 1280px; float: none; margin: auto;">
                    {% if page.button_one is not None %}
                        <a href="{% pageurl page.button_one %}">
                            <div class="col-xs-6 col-sm-3">
                                <div class="concertinfo hover green-bg center">
                                    {{ page.button_one.title }}
                                </div>
                            </div>
                        </a>
                    {% endif %}

                    {% if page.button_two is not None %}
                        <a href="{% pageurl page.button_two %}">
                            <div class="col-xs-6 col-sm-3">
                                <div class="concertinfo hover green-bg center">
                                    {{ page.button_two.title }}
                                </div>
                            </div>
                        </a>
                    {% endif %}

                    {% if page.button_three is not None %}
                        <a href="{% pageurl page.button_three %}">
                            <div class="col-xs-6 col-sm-3">
                                <div class="concertinfo hover green-bg center">
                                    {{ page.button_three.title }}
                                </div>
                            </div>
                        </a>
                    {% endif %}

                    {% if page.button_four is not None %}
                        <a href="{% pageurl page.button_four %}">
                            <div class="col-xs-6 col-sm-3">
                                <div class="concertinfo hover green-bg center">
                                    {{ page.button_four.title }}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row-fluid clearfix">
                <div id="future">

                    {% for concert in page.concerts.all %}
                        <div class="infowrapper">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 concertwrapper">
                                <a href="https://redbuttegarden.ticketfly.com/">
                                    <div class="bandpic hover">
                                        {% image concert.band_img original %}
                                    </div>
                                </a>

                                <div class="textwrapper">
                                    <div class="concerttext">
                                        <div class="con-band-wrap">
                                            <br>
                                            <div class="con-title caps">
                                                <a href="{{ concert.band_url }}">{{ concert.band_name }}</a>
                                            </div>
                                            <div class="con-opener">
                                                <a href="{{ concert.opener_url }}">{{ concert.opener_name }}</a>
                                            </div>
                                        </div>

                                        <div class="con-but-wrap">
                                            <div class="con-date">{{ concert.concert_date }}</div>
                                            <div class="con-times">
                                                {% if concert.gate_time %}
                                                    Gates at {{ concert.gates_time }} /
                                                {% endif %}
                                                Show at {{ concert.show_time }}</div>
                                            <div class="con-price">Garden members: ${{ concert.member_price }} / Public: ${{ concert.public_price }}</div>
                                            <br>
                                            <div class="row-fluid">
                                                <a href="https://redbuttegarden.ticketfly.com">
                                                    <img class="responsive con-button hover" src="{% static 'img/buy-tickets.png' %}"
                                                         alt="Buy tickets for the Red Butte Garden Concert Series" title="Buy Tickets for the Red Butte Garden Concert Series">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
