{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
    <link href="{% static 'concerts/css/concert_donor_club_portal.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="user-info">
        <p class="name"><span class="bold">Name: </span>{{ request.user.full_name }}</p>
        <p class="username"><span class="bold">Username: </span>{{ request.user.username }}</p>
    </div>

    <div class="row-fluid text-center responsive">
        {% image page.banner max-1280x500 %}
    </div>

    {% for block in page.body %}
        {% include_block block with id=block.id %}
    {% endfor %}
{% endblock %}
