{% extends 'base.html' %}
{% load static wagtailimages_tags %}

{% block extra_css %}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link href="{% static 'concerts/css/concert_donor_club_member_profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="header">
                <h1>Concert Donor Club Member Portal Profile</h1>
                <p><span class="fw-bold">Name:</span> {{ user_full_name }}</p>
                <p><span class="fw-bold">Phone Number:</span> {{ cdc_member.phone_number }}</p>
                <p><span class="fw-bold">Email:</span> {{ cdc_member.user.email }}</p>
            </div>
        </div>

        {% if ticket_info %}
            <div class="row">
                <div class="package-info text-center">
                    <h2>Packages</h2>

                    {% for package_name, tickets_dict in ticket_info.items %}
                        {% include 'concerts/includes/cdc_concert_ticket_cards.html' with id="packageTickets" count=forloop.counter button_text=package_name tickets_dict=tickets_dict %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="fst-italic">A summary of your CDC ticket package information will appear here. Please check back
                later.
            </div>
        {% endif %}

        {% if add_ticket_info %}
            <hr class="my-3">
            {% include 'concerts/includes/cdc_concert_ticket_cards.html' with id="additionalTickets" count=forloop.counter button_text="Additional Tickets" tickets_dict=add_ticket_info %}
        {% endif %}

        {% if group_tickets_by_concert %}
            <hr class="my-3">
            <div class="fw-light">Your CDC membership is grouped with these other users so you can see each others
                CDC package tickets:
                {{ other_group_member_usernames|join:", " }}</div>

            {% include 'concerts/includes/cdc_concert_ticket_cards.html' with id="groupTickets" button_text="CDC Group Tickets" tickets_dict=group_tickets_by_concert %}
        {% endif %}
    </div>
{% endblock %}
