{% extends 'base.html' %}
{% load static wagtailimages_tags %}

{% block extra_css %}
    <link href="{% static 'concerts/css/concert_donor_club_member_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="header">
                <h1>{{ user_name }}</h1>
                <p><span class="bold">Phone Number:</span> {{ cdc_member.phone_number }}</p>
                <p><span class="bold">Email:</span> {{ cdc_member.user.email }}</p>
            </div>
        </div>

        <div class="row">
            <div class="package-info">
                {% for package_name, concerts in ticket_info.items %}
                    <h2>{{ package_name }}</h2>
                    <ul class="concerts">
                        {% for concert in concerts %}
                            {% for concert_name, ticket_count in concert.items %}
                                <li>
                                    {{ concert_name }} (x{{ ticket_count }})
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>

        <div class="additional-concerts">
            <h3>Other Concerts Purchased</h3>
            <ul class="concerts">
                {% for concert in add_concerts %}
                    <li>{{ concert.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
