{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'concerts/css/donor_schedule.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'concerts/css/table_style.css' %}">
{% endblock %}

{% block content %}
    {% include 'includes/page_banner.html' with banner=page.banner %}

    {% for block in page.body %}
        {% include_block block with id=block.id %}
    {% endfor %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'concerts/js/bootstrap_table_block.js' %}"></script>
{% endblock %}
