{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'concerts/css/donor_package.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'concerts/css/table_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plants/css/image_modal.css' %}">
{% endblock %}

{% block body_class %}donor-packages{% endblock %}

{% block content %}
    <div class="row-fluid text-center responsive">
        {% image page.banner max-1280x500 %}
    </div>
    <br>

    {% for block in page.body %}
        {% if block.block_type == 'image' %}
            {% image block.value original class="img-center img-responsive" %}
        {% else %}
            {% include_block block with id=block.id %}
        {% endif %}
    {% endfor %}

    <div id="myModal" class="modal" onclick="closeModal()">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            <div id="mapModal" class="mySlides text-center">
                {# injected by javascript #}
            </div>

            <div class="caption-container">
                <p id="caption-display">
                    {# injected by javascript #}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'concerts/js/map_modal.js' %}"></script>
    <script src="{% static 'plants/js/lightbox-modal.js' %}"></script>
    {# Stripes table colors and adds map links #}
    <script src="{% static 'concerts/js/bootstrap_table_block.js' %}"></script>
{% endblock %}
