{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'concerts/css/past-concerts.css' %}">
{% endblock %}

{% block content %}
    {% include 'includes/page_banner.html' with banner=page.banner %}

    <div id="poster-holder" class="row">
        {% for lineup in page.lineups %}
            <div class="col-4">
                <button type="button" id="poster-outer-{{ forloop.counter0 }}" class="poster-outer collapsed hover"
                        data-target="#{{ lineup.id }}" data-bs-toggle="collapse" data-bs-target="#{{ lineup.id }}"
                        aria-expanded="false" aria-controls="{{ lineup.id }}">
                    {% image lineup.value.poster max-285x285 as poster %}
                    <img class="poster-img" src="{{ poster.url }}" width="{{ poster.width }}" height="{{ poster.height }}"
                         alt="{{ lineup.value.poster.contextual_alt_text }}" loading="lazy"/>

                    <span class="eventinfo d-block">
                        <span class="eventname d-block">{{ lineup.value.year|stringformat:"s" }}</span>
                    </span>
                    <span class="poster-inner d-block">
                        <span id="innermost-{{ forloop.counter0 }}" class="poster-innermost d-block"></span>
                    </span>
                </button>

                <div id="{{ lineup.id }}" class="poster-info-pane panel-border collapse">
                    <div class="tan-bg">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="text-center green">{{ lineup.value.year|stringformat:"s" }} Concerts</h2>
                                
                                <hr>

                                <div class="text-center">
                                    {% image lineup.value.poster original as original %}
                                    <a href="{{ original.url }}">
                                        <input type="submit" name="Apply-Button" value="Lineup Poster"
                                               class="apply-button hover">
                                    </a>
                                </div>
                                <br>

                                {{ lineup.value.artists|richtext }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'concerts/js/past-concerts.js' %}"></script>
{% endblock %}
